@* used for both professors and students *@

@(semesters : Iterator[models.course.Semester], url : String, backUri : String, person : models.person.UniversityPerson)

@import helpers.text.h1
@import helpers.text.back_link
@import helpers.text.link

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @h1("Course History for " + person.getContactInformation.getLastName + ", " + person.getContactInformation.getFirstName)

        @for(semester <- semesters) {
            @link(url + "/" + semester.getSeason + " " + semester.getYear, semester.getSeason + " " + semester.getYear)
        }

        @back_link(backUri)
    </body>
</html>