@(cos : Iterator[models.course.CourseOffering], url : String, backUri : String, coForm : Form[models.course.CourseOffering], post : play.api.mvc.Call)

@import helpers.tables.course_offering_table
@import helpers.forms.entity.course_offering_form
@import helpers.text.back_link

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @course_offering_table(cos, url, true, true, true, true)

        @course_offering_form(coForm, post, false, false, true)

        @back_link(backUri)
    </body>
</html>