@(semesters : Iterator[models.course.Semester], url : String, semesterForm : Form[models.forms.semester.SemesterForm1], backUri : String, post : play.api.mvc.Call)

@import helpers.text.p
@import helpers.text.h1
@import helpers.text.back_link
@import helpers.text.p_link
@import helpers.text.css
@import helpers.forms.entity.semester.semester_form1

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        @css("forms")
    </head>
    <body>
        @h1("Course Schedules")

        @for(semester <- semesters) {
            @p_link(url + "/" + semester.getSeason + "%20" + semester.getYear, semester.getSeason + " " + semester.getYear)
        }

        @p("Don't see the semester you're looking for? Please add a semester")

        @semester_form1(semesterForm, post)
        @back_link(backUri)
    </body>
</html>