@(courses : Iterator[models.course.Course], url : String, courseForm : Form[models.forms.course.CourseForm1], department : String, backUri : String, post : play.api.mvc.Call)

@import helpers.text.h1
@import helpers.text.css
@import helpers.tables.course_table
@import helpers.forms.entity.course.course_form1

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        @css("forms")
    </head>
    <body>
        @h1("All Courses Offered by the " + department + " Department")
        @course_table(courses, url, false, true, true, true, true)

        @course_form1(courseForm, post)

        @helpers.text.back_link(backUri)
    </body>
</html>