@(courses : Iterator[models.course.Course], url : String, backUri : String, seasonAndYear : String, department : String, coForm : Form[models.forms.course_offering.CourseOfferingForm2], post : play.api.mvc.Call)

@import helpers.text.h1
@import helpers.tables.course_table
@import helpers.forms.entity.course_offering.course_offering_form2
@import helpers.text.back_link
@import helpers.text.css

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        @css("forms")
    </head>
    <body>
        @h1("Courses Offered for " + seasonAndYear + " by the " + department + " Department")

        @course_table(courses, url, true, false, true, true, true)
        @course_offering_form2(coForm, post)
        @back_link(backUri)
    </body>
</html>