@(students : Iterator[models.person.Student], url : String, studentForm : Form[models.person.Student], backUri : String, post : play.api.mvc.Call)

@import helpers.tables.student_table
@import helpers.forms.entity.student_form
@import helpers.text.back_link
@import helpers.text.h1

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @h1("All Students")

        @student_table(students, url, true, true, true, true, true, true, true, true, true, true, true)

        @student_form(studentForm, post, true, true, true, false, true, true, true, true, true)

        @back_link(backUri)
    </body>
</html>