#student_form_1 dd {
    display: inline-block;
}

#student_form_1 dd.info {
    display: none;
}

#student_form_1 dd.error {
    margin-left: 10px;
    font-size: 12px;
    color: #c00;
}

#student_form_1 label {
    font-size: 14px;
}
