@* 4 boolean fields, 1 boolean display *@

@(courses : Iterator[models.course.Course], url : String, department : Boolean, courseNumber : Boolean, cost : Boolean, courseDescription : Boolean, displayLinks : Boolean)

@import helpers.text.th
@import helpers.text.td
@import helpers.text.td_link

<table border="1" cellspacing="0">
    <tr>
        @if(department) {
            @th("Department-CourseNumber")
        }
        @if(courseNumber) {
            @th("Course Number")
        }
        @if(cost) {
            @th("Cost (USD)")
        }
        @if(courseDescription) {
            @th("Course Description")
        }
    </tr>

    @for(course <- courses) {
        <tr>
            @if(department) {
                @if(displayLinks) {
                    @td_link(url + "/" + course.getCourseNumber, course.getDepartment + "-" + course.getCourseNumber)
                } else {
                   @td(course.getDepartment)
                }
            }

            @if(courseNumber) {
                @if(displayLinks) {
                    @td_link(url + "/" + course.getCourseNumber, course.getCourseNumber + "")
                } else {
                    @td(course.getCourseNumber + "")
                }
            }
            @if(cost) {
                @td(course.getCost + "")
            }
            @if(courseDescription) {
                @td(course.getCourseDescription)
            }
        </tr>
    }
</table>