@* 3 boolean fields, 1 boolean display *@

@(payments : Iterator[models.person.Payment], url : String, paymentId : Boolean, paymentType : Boolean, paymentAmount : Boolean, displayLinks : Boolean)

@import helpers.text.th
@import helpers.text.td
@import helpers.text.td_link

<table border="1" cellspacing="0">
    <tr>
        @if(paymentId) {
            @th("Id")
        }
        @if(paymentType) {
            @th("Payment Type")
        }
        @if(paymentAmount) {
            @th("Payment Amount (USD)")
        }
    </tr>

    @for(payment <- payments) {
        <tr>
            @if(displayLinks) {
                @td_link(url + "/" + payment.getPaymentId, payment.getPaymentId + "")
            } else {
                @td(payment.getPaymentId + "")
            }
            @if(paymentType) {
                @td(payment.getPaymentType)
            }
            @if(paymentAmount) {
                @td(payment.getPaymentAmount + "")
            }
        </tr>
    }
</table>