@* 9 boolean fields. 1 boolean display *@

@(professors : Iterator[models.person.Professor], url : String, id : Boolean, lastName : Boolean, firstName : Boolean, dateOfBirth : Boolean, homeAddr : Boolean, workAddr : Boolean, homePhone : Boolean, workPhone : Boolean, cellPhone : Boolean, displayLinks : Boolean)

@import helpers.text.th
@import helpers.text.td
@import helpers.text.td_link

<table border="1" cellspacing="0">
    <tr>
        @if(id) {
            @th("Id")
        }
        @if(lastName) {
            @th("Last Name")
        }
        @if(firstName) {
            @th("First Name")
        }
        @if(dateOfBirth) {
            @th("Date of Birth")
        }
        @if(homeAddr) {
            @th("Home Address")
        }
        @if(workAddr) {
            @th("Work Address")
        }
        @if(homePhone) {
            @th("Home Phone")
        }
        @if(workPhone) {
            @th("Work Phone")
        }
        @if(cellPhone) {
            @th("Cell Phone")
        }
    </tr>

    @for(professor <- professors) {
        <tr>
            @if(id) {
                @if(displayLinks) {
                    @td_link(url + "/" + professor.getId, professor.getId + "")
                } else {
                    @td(professor.getId + "")
                }
            }
            @if(lastName) {
                @td(professor.getContactInformation.getLastName)
            }
            @if(firstName) {
                @td(professor.getContactInformation.getFirstName)
            }
            @if(dateOfBirth) {
                @td(professor.getDateOfBirth)
            }
            @if(homeAddr) {
                @td(professor.getContactInformation.getHomeAddress)
            }
            @if(workAddr) {
                @td(professor.getContactInformation.getWorkAddress)
            }
            @if(homePhone) {
                @td(professor.getContactInformation.getHomePhone)
            }
            @if(workPhone) {
                @td(professor.getContactInformation.getWorkPhone)
            }
            @if(cellPhone) {
                @td(professor.getContactInformation.getCellPhone)
            }
        </tr>
    }
</table>