@(professorForm : Form[models.person.Professor], post : play.api.mvc.Call, displayDepartment : Boolean)

@helper.form(post) {

@helper.inputText(professorForm("Last Name"))
@helper.inputText(professorForm("First Name"))
@if(displayDepartment) {
    @helper.inputText(professorForm("Department"))
}
@helper.inputText(professorForm("Home Address"))
@helper.inputText(professorForm("Work Address"))
@helper.inputText(professorForm("Work Phone"))
@helper.inputText(professorForm("Home Phone"))
@helper.inputText(professorForm("Cell Phone"))
@helper.inputText(professorForm("Date of Birth"))

<input type="submit" value="Create">
}