@(studentForm : Form[models.person.Student], post : play.api.mvc.Call)

<h2>Create New Student Entry</h2>
@helper.form(post) {

@helper.inputText(studentForm("Last Name"))
@helper.inputText(studentForm("First Name"))
@helper.inputText(studentForm("Home Address"))
@helper.inputText(studentForm("Work Address"))
@helper.inputText(studentForm("Work Phone"))
@helper.inputText(studentForm("Home Phone"))
@helper.inputText(studentForm("Cell Phone"))
@helper.inputText(studentForm("Date of Birth"))

<input type="submit" value="Create">
}