@(students : Iterator[models.person.Student], studentUrl : String, backUri : String, courseInfo : String, displayLink : Boolean)

@import helpers.tables.student_table
@import helpers.text.back_link
@import helpers.text.h1

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @h1("All Students Taking " + courseInfo)

        @student_table(students, studentUrl, true, true, true, false, false, false, false, false, false, displayLink)

        @back_link(backUri)

    </body>
</html>