@(semesters : Iterator[models.course.Semester], url : String, backUri : String)

@import helpers.text.h1
@import helpers.text.back_link
@import helpers.text.link

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @h1("Choose a Semester to Register for:")

        @for(semester <- semesters) {
            @link(url + "/" + semester.getSeason + "%20" + semester.getYear, semester.getSeason + " " + semester.getYear)
        }

        @back_link(backUri)
    </body>
</html>