@(courses : Iterator[models.course.Course], url : String, backUri : String, seasonAndYear : String, department : String)

@import helpers.text.h1
@import helpers.tables.course_table
@import helpers.text.back_link

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @h1("Courses Offered for " + seasonAndYear + " by the " + department + " Department")

        @course_table(courses, url, true, false, true, true, true)

        @back_link(backUri)
    </body>
</html>