@(semesters : Iterator[models.course.Semester], url : String, semesterForm : Form[models.course.Semester], backUri : String)

@import helper._

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Course Schedules</h1>

@for(semester <- semesters) {
<p><a href=@url/@semester.getSeason%20@semester.getYear>@semester.getSeason @semester.getYear</a></p>
}

<p>Don't see the semester you're looking for? Please add a semester</p>

@helpers.forms.semester_form(semesterForm, controllers.root.admin.course_schedules.routes.CourseSchedules.post())
@helpers.back_link(backUri)
</body>
</html>