@(departments : Iterator[String], url : String, professorForm : Form[models.person.Professor], backUri : String)

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>All Departments</h1>

            @for(dept <- departments) {
                <p><a href=@url/@dept>@dept</a></p>
            }
        <p>Don't see the department you're looking for? Please create a faculty member entry with that department first.</p>
        @helpers.forms.professor_form(professorForm, controllers.root.admin.departments.routes.Departments.post(), true)

        @helpers.back_link(backUri)
    </body>
</html>