@(professor : models.person.Professor, coURL : String, courseURL : String, semesters : Iterator[models.course.Semester], backUri : String)

@import helper._
@import scala.collection.Iterator

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Information for  @professor.getContactInformation.getLastName, @professor.getContactInformation.getFirstName</h1>
        @helpers.tables.professor_table(Iterator.single(professor), coURL)
        <h2>Explore Course Offerings Taught by this Professor</h2>
        @helpers.back_link(backUri)
    </body>
</html>