@(payments : Iterator[models.person.Payment], url : String, paymentForm : Form[models.person.Payment], studentId : Int, backUri : String)

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>All Payments For Student @studentId</h1>
        @helpers.tables.payment_table(payments, url)

        @helpers.forms.payment_form(paymentForm, controllers.root.admin.students.student.payments.routes.Payments.post(studentId), studentId)

        @helpers.back_link(backUri)

    </body>
</html>