@(semesters : Iterator[models.course.Semester], url : String, semesterForm : Form[models.course.Semester])

@import helper._

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table border="1" cellspacing="0">
    <tr>
        <th>Semester</th>
    </tr>

    @for(semester <- semesters) {
    <tr>
        <td><a href=@url/@semester.getSeason%20@semester.getYear>@semester.getSeason @semester.getYear</a></td>
    </tr>
    }
    @form(routes.SemesterResource.addSemester()) {

    @inputText(semesterForm("season"))
    @inputText(semesterForm("year"))

    <input type="submit" value="Create">
    }
</table>
</body>
</html>