@(course : models.course.Course, url : String)

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <table border="1" cellspacing="0">
        <tr>
            <th>Department</th>
            <th>Course Number</th>
            <th>Cost (USD)</th>
            <th>Course Description</th>
        </tr>

        <tr>
            <td>@course.getDepartment</td>
            <td>@course.getCourseNumber</td>
            <td>@course.getCost</td>
            <td>@course.getCourseDescription</td>
        </tr>
    </table>
</body>
</html>