@(students : Iterator[models.person.Student], url : String, studentForm : Form[models.person.Student])

@import helper._

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>All Students</h1>
    <table border="1" cellspacing="0">
        <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Current Balance</th>
            <th>Date of Birth</th>
            <th>Home Address</th>
            <th>Work Address</th>
            <th>Home Phone</th>
            <th>Work Phone</th>
            <th>Cell Phone</th>
        </tr>

        @for(student <- students) {
        <tr>
            <td><a href=@url/@student.getId>@student.getId</a></td>
            <td>@student.getContactInformation.getLastName</td>
            <td>@student.getContactInformation.getFirstName</td>
            <td>@student.getCurrentBalance</td>
            <td>@student.getDateOfBirth</td>
            <td>@student.getContactInformation.getHomeAddress</td>
            <td>@student.getContactInformation.getWorkAddress</td>
            <td>@student.getContactInformation.getHomePhone</td>
            <td>@student.getContactInformation.getWorkPhone</td>
            <td>@student.getContactInformation.getCellPhone</td>
        </tr>
        }
    </table>

    @form(routes.StudentResource.addStudent()) {

    @inputText(studentForm("Last Name"))
    @inputText(studentForm("lastName"))
    @inputText(studentForm("currentBalance"))
    @inputText(studentForm("homeAddress"))
    @inputText(studentForm("workAddress"))
    @inputText(studentForm("workPhone"))
    @inputText(studentForm("homePhone"))
    @inputText(studentForm("cellPhone"))
    @inputText(studentForm("dateOfBirth"))

    <input type="submit" value="Create">
    }
</body>
</html>